<h2>About me...😎</h2>
<p>Hi my name is Danny Romero. I made this friends app to keep track of my professional contacts in a web setting. Currently, you can sign in and create, edit, and destroy any contacts you'd like.</p>
<p>Next feature is adding clickable links to the correct Twitter and LinkedIn sites for the added contacts.</p>

<p>See more of my work here: <a href="https://fdromero32.github.io/">https://fdromero32.github.io/</a></p>